In [1]:
import networkx as nx
import pandas as pd
import numpy as np

In [2]:
influence_data = pd.read_csv('influence_data.csv')
influence_data

,influencer_id,influencer_name,influencer_main_genre,influencer_active_start,follower_id,follower_name,follower_main_genre,follower_active_start
0,759491,The Exploited,Pop/Rock,1980,74,Special Duties,Pop/Rock,1980
1,25462,Tricky,Electronic,1990,335,PJ Harvey,Pop/Rock,1990
2,66915,Bob Dylan,Pop/Rock,1960,335,PJ Harvey,Pop/Rock,1990
3,71209,Leonard Cohen,Pop/Rock,1950,335,PJ Harvey,Pop/Rock,1990
4,91438,The Gun Club,Pop/Rock,1980,335,PJ Harvey,Pop/Rock,1990
...,...,...,...,...,...,...,...,...
42765,580300,Sufjan Stevens,Pop/Rock,1990,3661738,Rosemary & Garlic,Pop/Rock,2010
42766,261309,Vybz Kartel,Reggae,2000,3670556,Trinidad Cardona,R&B;,2010
42767,467203,Michael Jackson,R&B;,1960,3670556,Trinidad Cardona,R&B;,2010
42768,2518003,Popcaan,Reggae,2000,3670556,Trinidad Cardona,R&B;,2010
42769,2896351,Tommy Lee,Reggae,2000,3670556,Trinidad Cardona,R&B;,2010

In [3]:
Artist_embeddings = pd.read_csv('Artist_embeddings.csv',index_col=0)
Artist_embeddings

           Component_0  Component_1  Component_2
artist_id
792507        1.150376     0.258632     0.722177
119107        1.654902     0.660330     3.661171
816890        0.289474    -0.770976     0.549894
79016         1.248595    -0.398232     0.267062
66915         0.214653    -0.151386     0.708397
...                ...          ...          ...
3359519      -0.000960    -0.900278    -0.421923
3381566      -1.528295     0.276644     0.337731
3410250       0.140056     0.387234    -0.827585
3455945      -0.449464     1.299648    -0.635367
3639618      -0.835938     1.024051    -0.569124

[5854 rows x 3 columns]

In [4]:
data_name=['Component_0','Component_1','Component_2']

In [5]:
influencer_0 = []
influencer_1 = []
influencer_2 = []
influencer_data=[influencer_0,influencer_1,influencer_2]

In [6]:
follower_0 = []
follower_1 = []
follower_2 = []
follower_data=[follower_0,follower_1,follower_2]

In [7]:
for index, row in list(influence_data.iterrows()):
    for i in range(3):
        try:
            Artist_embeddings.loc[row.influencer_id,data_name[i]]
            Artist_embeddings.loc[row.follower_id,data_name[i]]
        except:
            continue
        influencer_data[i].append(Artist_embeddings.loc[row.influencer_id,data_name[i]])
        follower_data[i].append(Artist_embeddings.loc[row.follower_id,data_name[i]])

In [13]:
result_correlation = pd.DataFrame(index=data_name,columns=['correlation']).fillna(value=0)
INDEX=range(len(follower_data[0]))
for i in range(len(data_name)):
    dinfluencer = pd.Series(influencer_data[i], index=INDEX,dtype=float)
    dfollower = pd.Series(follower_data[i], index=INDEX,dtype=float)
    df=pd.DataFrame({'influencer':dinfluencer,'follower':dfollower},dtype=float)
    result_correlation.iloc[i,0]=df.corr(method='pearson').iloc[0,1]
print(result_correlation)

             correlation
Component_0     0.561630
Component_1     0.470073
Component_2     0.391963

In [14]:
result_correlation.to_csv('cooooo_pearson_correlation_of_connected_musicians.csv')